{% extends 'index.html' %}

{% block body %}
<div class="container">
	<section class="hero is-info">
	  <div class="hero-body">
	      <h1 class="is-size-1 has-text-weight-bold has-text-dark">
	        <i class="fas fa-angle-double-right"></i>
	        Hello!
	      </h1>
	  </div>
	</section>
	<div class="columns">
	  	<div class="column is-half is-offset-one-quarter" style="background: ">
	      	<p class="subtitle is-size-4 has-text-white-ter is-family-monospace">
	      	I require a moment of your time for a very quick survey for my project.
	      	I have been working on a flask backend system which is very basic and
	      	I'm trying out databases for the first time!
	      	I'm using MariaDB to store the form submissions.
	      </p>
	      <p class="subtitle is-size-4 has-text-white-ter is-family-monospace">
	      	I've always been a fan of Open Source, be sure to check out my Github page as well!
	      </p>
	  </div>
  </div
</div>
{% endblock %}
